@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Permanent+Marker&family=Roboto:ital@1&display=swap');

#content{ 
    max-width:1600px;
    margin: 0 auto;
    
}

nav a{
    text-align: center;
    color:white;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
}

body{
    background-color: #2a9d8f;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: #2a9d8f;
}

nav a:hover{
    background-color:#2a9d8f;
    color: white;
}

.book, .join{
    background-color: #2a9d8f;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color:#2a9d8f;
    color: white;
}

#background{
    background-color: #2a9d8f;
}

.msg{
    background-color: #2a9d8f;
    line-height: 1.5em;
    padding: 35px;
}

footer{
    background-color: #2a9d8f;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title{
    color: #264653;
    font-family: 'Permanent Marker', Roboto, Montserrat;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: white;
}

.msg h2{
    color: white;
    font-family: 'Permanent Marker', Roboto, Montserrat;
}
.msg p{
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: white;
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

h2{
    margin: 0;
}

#logo_link{
    padding-top: 5px;
}

footer.social img{
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img{
    border: 10px solid black;
}

main section img{
    box-sizing: border-box;
}